.paginas{
    width: 100%;
    height: 91.7vh;
    border: 1px solid black;
    grid-row-start: 2;
    grid-column-start: 2;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50% 50%;
    gap: 0.5rem;
    padding: 0.5rem;
}
.proyectos{
    width: 95%;
    height: 95%;
    margin: auto;
    border: 1px solid red;
    border-radius: 2rem;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50% 1fr 34% 1fr;
}
.contenedor{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    padding: 0.3rem;

    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_proyectos{
    border-radius: 1rem;
    width: 95%;
    height: 95%;

}
.titulo{
    color: black;
    margin-left: 0.5rem;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 6;
}
.descripcion{
    color: black;
    margin-left: 0.5rem;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
}
.github_a{
    margin: auto;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
}
.github{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    width: 5rem;
    height: 2rem;
    color: white;
    background-color: black;
    margin-bottom: 0.2rem;
}

